<script>
	var audio = document.getElementById("audio");
  	function play(){
  		if (audio.paused){
  			audio.play();
  		} else {
  			audio.pause();
  			audio.currentTime = 0;
  		}
       
    }
</script>

<div class="container">
	<p>You selected:</p>
	<h1>{{album.name}} by {{tracks[0].artists[0].name}}:</h1>
	<img ng-src="{{album.images[1].url}}"/>
	<p>Click this button for a preview!</p>
	<input type="button" value="preview" onclick="play()">
	<audio id="audio" ng-src="{{tracks[0].preview_url}}"></audio>
  	<div ng-repeat="track in tracks">
	    <ul>
	    	<li><p>{{track.name}}</p></li>
	    </ul>
  </div>
</div>