<div class="row" >
	<section class="col-lg-8 col-lg-offset-2 col-sm-12 col-sm-offset-0">
		<img class="artista-seleccionda-img img-circle" src={{artist.images[0].url}} alt="imagen del artista">
		<h1 class="artista-seleccionda-info"> {{artist.name.substring(0,30)}} </h1>
		<p class="artista-seleccionda-info"> Seguidores: {{artist.followers.total}} </p>
		<ul ng-if="artista.genres.length > 0" class="artista-seleccionda-info"> Generos  <li ng-repeat="genero in artista.genres | limitTo: 3"> {{genero}} </li> </ul>
		<div class="clear"></div>
		<un-album ng-repeat="album in albumesFull" album=album artistname="artista.name">artist.name.substring(0,20)</un-album>
	</section>
</div>